body{

background:#eef2f7;

font-family:Arial, sans-serif;

}

.card{

border-radius:15px;

margin:auto;

max-width:700px;

}

input{

margin-top:5px;

}

button{

padding:12px;

font-size:18px;

}

h2{

font-weight:bold;

}